@font-face {
    font-family: Asap-regular;
    src: url(./fonts/Asap-Regular.ttf);
}
@font-face {
    font-family: AsapBold;
    src: url(./fonts/Asap-Bold.ttf);
}


.home{
    background-image: linear-gradient(rgba(50,50,50,0.6),rgba(50,50,50,0.7)), url(./images/cover.jpg);
    height: 100vh;
    padding: 0 60px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.1;
    
}
.nav-bar img {
    width: 200px;

}
.nav-bar{
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
}
.homelinks ul {
    display: flex;
    gap: 15px;
}
.homelinks ul li {
    list-style: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Asap-regular;
}
.hometitle {
    color: white;
    font-size: 70px;
    text-align: left;
    width: 70%;
    font-family: AsapBold;
  
}
.subtitle {
    color: white;
    width: 70%;
    font-size: 20px;
    font-family: Asap-regular;
    line-height: 1.5;
}
.whatwedo {
    padding: 10px 60px;
    font-family: Asap-regular;
}
h1.whattitle {
    margin-top: 70px;
    font-weight: bold;
    color: blueviolet;
    font-family: AsapBold;
}
.whatwedo .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    gap: 10px;

}
.service1 {
    border: 1px solid rgb(212, 205, 205);
    padding: 65px;

}
.service1 .vas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vas h4 {
    font-size: 24px;
    font-family: AsapBold;
    padding: 0;
    margin: 10px 0 0 0;
    

}
.vas p {
line-height: 1.5;
color: grey;
text-align: center;
font-size: 15px;
}
.service1:hover {
    transform: scaleY(1.05); 
}
.about {
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
align-items: center;
text-align: center;
font-family: Asap-regular;
background-image: url(./images/solutions_bg.jpeg);
color: white;
height: 80vh;
background-repeat: no-repeat;
background-size: cover;
object-fit: cover;
background-attachment: fixed;
}
.about h1 {
    font-size: 60px;
    font-family: AsapBold;
    
}
.about .tech {
    background-color: purple;
    opacity: 0.5;
    line-height: 2;
    padding: 30px;
    color: white;
    font-size: 20px;
    font-weight: AsapBold;
    height: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .tech p {
    opacity: 2.5;
    color: white;

}
.mission,
.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Asap-regular;
    width: 50%;
    margin: auto;
    text-align: center;
    height: 50vh;

    
}

.mission h1 {
    font-family: AsapBold;
    font-size: 65px;
    margin: 40px 0 20px 0;
    text-transform: capitalize;
    color: rgb(58, 53, 53);
}
.mission p {
    font-size: 25px;
    line-height: 1.5;
    color: rgb(150, 146, 146);
    
}
.two {
    background-color: rgba(88,28,135,.3);
}
.cont p {
    font-size: 25px;
    line-height: 1.5;
    color: white;
    
}
.cont h1 {
    font-family: AsapBold;
    font-size: 65px;
    margin: 40px 0 20px 0;
    text-transform: capitalize;
    color: white;
    }
 .messages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
    height: 100vh;
 }
 .logoimg img {
width: 300px;
 }
 .form input,
 .form textarea {
    padding: 10px;
    outline: none;
    border: 1px solid grey;
    border-radius: 3px;
    font-size: 15px;
 }
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: Asap-regular;
} 
.firstname {
    display: flex;
    width: 100%;
    gap: 10px;
}
.firstname input {
    width: 50%;
    font-size: 15px;
}
.form button {
    padding: 20px;
    background-color: rgb(104, 53, 104);
    color: white;
    border: none;
    border-radius: 5px;
}
.messageform h4 {
    color:  rgb(104, 53, 104);
    font-size: 35px;
    font-family: AsaoBold;

    
}
.messagelogo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    background-color: black;
    height: max-content;
    color: white;
    
   
    
}
.contacts {
    color: white;
    font-size: 35px;
    font-family: AsapBold;
    margin: 0;
}
.mehy {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* align-items: center; */
    justify-content: flex-start;
    padding: 20px 60px 120px 60px;

    
   
    
}
.adiss {
    font-size: 20px;
    font-family: Asap-regular;
    color: orange;

}
.head {
    font-size: 19px;
    color: rgb(134, 127, 127);
    font-family: AsapBold;
}
.bethel {
    font-size: 20px;
    font-family: AsapBold;
}
.email {
    font-size: 18px;
    color: rgb(158, 156, 156);
    font-family: AsapBold;
}
.hello {
    font-size: 20px;
    font-family: AsapBold;
}
.copy {
    text-align: center;
    font-family: Asap-regular;
    color: rgb(134, 132, 132);
    margin: 20px 60px;
    font-size: 20px;
    padding: 20px;
}
@media screen and (max-width: 720px){
     .hometitle{
        font-size: 45px;}
     .services{
grid-template-columns: repeat(2, 1fr) !important;
     }   
     .subtitle{
        line-height: 1.1;
     }
     .service1{
        margin-bottom: 10px;
        padding: 45px;
     }
.vas h4 {
    font-size: 18px;

}
.about h1{
    font-size: 30px;
}
.about{
    height: 50vh;
}
.about .tech {
    height: 35vh;
}
.about .tech p{
    font-size: 16px;
    line-height: 1.1;
}
.mission h1{
    font-size: 40px;
    margin: 0;
}
.mission,
.cont{
    width: 70%;
}
.mission p,
.cont p{
    font-size: 16px;
    line-height: 1.1;
}
.cont h1{
    margin: 0;
    font-size: 40px;
}
.messages{
    height: max-content;
    padding-bottom: 20px;
}
.footer .mehy {
    padding-bottom: 10px;

}
.home {
    height: max-content;
    padding-bottom: 10px;
}


}